<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="demo.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/319e2d5fd0.js" crossorigin="anonymous"></script>
</head>

<body style= "margin: 0">
     <!-- Header -->
    <header>
        <div id="heading">
            <div class="nav-left">
                <h3 style="cursor: pointer; color: whitesmoke ;padding: 10px 0 0 20px ;" onclick="returnHome()"><i class="fas fa-bars"></i> Booknet</h3>
            </div>
            <div class="nav-right">
                <input type="text" placeholder=" Search..." style="    
                font-size: 14px;
                line-height: 1.42857143;
                color: #555">
            </div>
        </div>
        
        <div class="navbar">
        <div class= "head-container">
            <div id="heading-button" class='dropbox' onclick="topFunction()" title="To bottom">
                <div class="dropbtn">
                    About us
                </div>
            </div>
            <div class="dropbox">
                <div class="dropbtn">Novel</div>
                <div class="dropdown-content">
                    <a href="#">Detective</a>
                    <a href="#">Romantic</a>
                </div>
            </div>

            <div class="dropbox">
                <div class="dropbtn">Truyện ngắn</div>
                <div class="dropdown-content">
                    <a href="#">Children</a>
                    <a href="#">Romantic</a>
                </div>
            </div>

            <div class="dropbox">
                <div class="dropbtn">Self-helped</div>
                <div class="dropdown-content">
                    <a href="#">Inspring</a>
                    <a href="#">Life skills</a>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div style="display: flex; justify-content: center; background-color: #ebebeb">
    <h2 style="width: 1150px;"><i class="fas fa-book-open"></i>   The Godfather</h2></div>
    </div>
    <div class="content-container">
        <div class="content-info">  
            <div class="left"><img width="231px" height="347px" src="https://images-na.ssl-images-amazon.com/images/I/71zypXxMynL.jpg" alt="THE GODFATHER - Mario Puzo">
            </div>
            <div class="right">
                <div class="summary">
                    <ul class="summary-box">
                        <li>
                            <p class="col-1"><i class="fa fa-user"></i><b> Tác giả: </b></p>
                            <p> Mario Puzo </p>
                        </li>
                        <li>
                            <p class="col-1"><i class="fa fa-tags"></i><b> Thể loại: </b></p>
                            <p> Novel, Drama, Hình sự </p>
                        </li>
                        <li>
                            <p class="col-1"><i class="fas fa-sticky-note"></i><b> Nội dung: </b></p>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nemo sunt, reiciendis placeat obcaecati eum, consectetur harum, accusantium eos saepe deserunt repudiandae. Magni facere id ab nobis. Veniam, magni possimus?</p>
                        </li>
                        <li>
                            <p class="col-1 "><i class="fas fa-star-half-alt"></i><b> Rating: </b></p>                   
                            <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span><p/>
                        
                                
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fb-cmt">
        <h4 class="title">Bình luận Facebook </h4>  
    </div>
    
    <!-- Footer -->
       <footer role="contentinfo ">
            <div class="container " style="font-family: 'Ubuntu', sans-serif; ">           
                    <div class="whitebox "><img src="logo.png" style="width: 72px; height: 72px">
                       <h3> Booknet </h3>
                        Brings you to a network where people love reading books and want to share what they read to everyone.
                    </div>                                                      
                            <div class="menu-footer">
                                <ul>
                                    <li class="widget-title">Contact us</li>
                                    <li class="footer-item ">Nam Anh Nguyễn</li>
                                    <li class="footer-item ">NG.Hải</li>
                                    <li class="footer-item ">Hoàng Ân</li>
                                </ul></div>
                       
                    
                </div>
        </footer>

</body>

</html>
